<p id="notice"><%= notice %></p>

<p>
  <strong>Quote:</strong>
  <%= @product_line_item.quote_id %>
</p>

<p>
  <strong>Part:</strong>
  <%= @product_line_item.part_id %>
</p>

<p>
  <strong>Labor units:</strong>
  <%= @product_line_item.labor_units %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @product_line_item.unit_price %>
</p>

<p>
  <strong>Full service price:</strong>
  <%= @product_line_item.full_service_price %>
</p>

<p>
  <strong>Quanity:</strong>
  <%= @product_line_item.quanity %>
</p>

<%= link_to 'Edit', edit_product_line_item_path(@product_line_item) %> |
<%= link_to 'Back', product_line_items_path %>
