<div class="section">
  <div class="container">
    <div class="box">
      <h2 class="title"><%= @vendor.name %></h2>
      <div class="content">
        <p>
          <strong>Point of Contact:</strong> <%= @vendor.poc %>
        </p>

        <p>
          <strong>Phone:</strong> <%= @vendor.phone %>
        </p>

        <p>
          <strong>Website:</strong> <%= @vendor.url %>
        </p>

        <p>
          <strong>Description</strong><br />
          <%= @vendor.description %>
        </p>
      </div>
    </div>

    <%
      partList = Part.where(vendor_id: @vendor.id)

      if partList.count > 0  %>
    <div class="panel">
      <p class="panel-heading">Parts - <%= partList.count %></p>
      <div class="panel-block">
        <% partList.each do |p| %>
          <%= link_to part_path(p.id), :class => 'panel-block' do %>
          <span class="panel-icon">
            <icon class="fas fa-puzzle-piece" aria-hidden="true"></icon>
          </span>
          <%= p.name %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
