<!DOCTYPE html>
<html>
  <head>
    <title>SoniQuote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/e238a9a1ea.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Nav Bar -->
    <nav class="navbar is-link" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to root_path, class:"navbar-item" do %>
          <h1 class="title is-5 has-text-white">SoniQuote Tool</h1>
        <% end  %>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarHome">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarHome" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-item has-text-white">
              Entries
            </a>

            <div class="navbar-dropdown">
              <%= link_to 'Sites', sites_path, class:"navbar-item" %>
              <%= link_to 'Customers', customers_path, class:"navbar-item" %>
              <%= link_to 'Parts', parts_path, class:"navbar-item" %>
              <%= link_to 'Vendors', vendors_path, class:"navbar-item" %>
              <%= link_to 'Settings', settings_path, class:"navbar-item" %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- Flash Notices -->
      <% if flash[:notice] %>
        <div class="notification is-success global-notification">
            <p class="notice"><%= notice %></p>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="notification is-danger global-notification">
          <p class="alert"><%= alert %></p>
        </div>
      <% end %>

    <%= yield %>
  </body>
</html>
